-
  const STATE_KEY = 'TQ_OPEN_SOURCE_WORLD_STATE';
  const worldState = getState(STATE_KEY) || {};

conversation(display_name="Druidic Leader")
  statement#default
  responses
  statements
    statement#default
      text.
        Merci de répondre à notre convocation. La question la plus urgente qui requiert
        votre attention est le chemin vers la 
        <span class="highlight">Flamme de l'Open Source</span>. Ce serait un grand
        service si vous pouviez débloquer le chemin à travers la forêt jusqu'à la flamme.
        Je veillerai à ce que mes gardes vous laissent passer.


-
  // After conversation happens once, Operator gets leader's permission
  const newWorldState = {
    ...worldState,
    leaderPermission: true
  }
  setState(STATE_KEY, newWorldState);
        