conversation(display_name="Druidic Guard")
  statement#default
  responses
  statements
    statement#default
      text.
        Excusez-moi, voyageur, mais vous ne pouvez pas entrer ici. Veuillez parler avec 
        notre chef au village d'abord. Avec leur permission, nous pourrions vous laisser 
        passer.
