conversation(display_name="Druidic Guard")
  statement#default
  responses
  statements
    statement#default
      text.
        Paix, voyageur. Le chemin là-bas n'est pas encore sûr, et nous ne pouvons pas te laisser
        passer. Reviens plus tard, et la voie sera peut-être libre.
